<p-table id="table" [value]="dataUser">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>UserName</th>
      <th>Password</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Age</th>
      <th>Address</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-list let-rowIndex="rowIndex">
    <tr>
      <td>{{list.username}}</td>
      <td>{{list.password}}</td>
      <td>{{list.email}}</td>
      <td>{{list.phone}}</td>
      <td>{{list.age}}</td>
      <td>{{list.address}}</td>
    </tr>
  </ng-template>
</p-table>
<button pButton (click)="changePass()" style="margin: 20px 0;">Change Password</button>
<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
<p-toast position="top-right" key="c" [baseZIndex]="3000"></p-toast>