<div class="news_nav">
  <div class="news_nav_content">
    <div style="display: flex;">
      <div routerLink="/home" style="cursor: pointer;">Home</div>
      <div style="margin-top: 1px;"><i class="pi pi-angle-right"></i></div>
      <div>News</div>
    </div>
  </div>
</div>
<p-dataView [value]="dataNews" [paginator]="true" [rows]="2" layout="grid">
  <ng-template let-product pTemplate="gridItem">
    <div style="margin-top: 3%">
      <div class="p-order-sm-6 p-order-6 p-order-lg-3 p-order-md-3 p-col-6 news_item" style="background: #f7f7f7;"
        [routerLink]="['../detail',{id:product.id}]">
        <div>
          <img src="assets/news/{{product.image}}" style="width:700px" alt="">
        </div>
        <div class="title">
          {{product.title}}
        </div>
        <div class="time" style="color:#a8a8a8;">
          {{product?.create_At | date:'short' }}
        </div>
        <div class="line">
        </div>
        <div class="content">
          {{product.decription}}
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>