<p-dataView #dv [value]="dataPopular" [paginator]="true" [rows]="6" filterBy="name" [sortField]="sortField"
  [sortOrder]="sortOrder" layout="grid">
  <ng-template pTemplate="header">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
      <div>
        <p-dropdown [options]="sortOptions" (onChange)="onSortChange($event)" placeholder="Sort By Price"
          styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
      </div>
      <div>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input type="search" (input)="dv.filter($event.target.value)" pInputText placeholder="Search by Name">
        </span>
      </div>
      <div>
        <div style="margin-bottom: 5px;">
          <p-button (click)="showCart()" label="" class="mt-20" styleClass="p-cart">
            <div class="cart_icon"><i class="pi pi-shopping-cart"></i>
              <div class="cart_number">{{count}}</div>
            </div>
          </p-button>
        </div>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </div>
    <h1 class="title">Popular Products</h1>
    <p-carousel [value]="dataPopular" styleClass="custom-carousel" [autoplayInterval]="3000" [numVisible]="3"
      [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="header">

      </ng-template>
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div class="mb-3 product_img">
              <img src="assets\images\{{product.img}}" [alt]="product.name" class="product-image" />
            </div>
            <div style="text-align: center;">
              <h4 class="mb-1">{{product.name}}</h4>
              <h5 class="mt-0 mb-3">${{product.price}}</h5>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <h1 class="title">Selling Products</h1>
  </ng-template>
  <ng-template let-product pTemplate="listItem">
    <div class="p-col-12">
      <div class="product">
        <div class="product_img">
          <img src="assets\images\{{product.img}}" [alt]="" />
        </div>
        <div class="product_name">
          {{product.name}}
        </div>
        <div class="product_price">
          {{product.price | currency:"VND"}}
        </div>
        <p-rating [(ngModel)]="vote" [readonly]="true" [cancel]="false"></p-rating><span>{{product.view}} View</span>
      </div>
    </div>
  </ng-template>
  <ng-template let-product pTemplate="gridItem" class="p-grid">
    <div class="p-md-4 p-sm-12">
      <div class="product">
        <div class="product_img">
          <img src="assets\images\{{product.img}}" [alt]="" />
        </div>
        <div class="product_name">
          {{product.name}}
        </div>
        <div class="product_price">
          {{product.price | currency:"VND"}}
        </div>
        <p-rating [(ngModel)]="vote" [readonly]="true" [cancel]="false"></p-rating><span>{{product.view}} view</span>
        <div>
          <p-button label="Add" (click)="addToCart(product.id)" class="mt-20"><span><i
                class="pi pi-shopping-cart"></i></span></p-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
<p-confirmDialog [style]="{'width': '50vw', 'font-size':'large'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast position="top-right" key="c" [baseZIndex]="3000"></p-toast>

<input type="checkbox" (change)="e($event)">
{{abc}}