.product{

  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  text-align: center;
  padding: 20px 0;
  margin-bottom: 2rem;
  margin: 0.5rem;
  border: 1px solid #dfe7ef;
}
.product_name{
  height: 42px;
}
.product_img{
  display: flex;
  height: 200px;
  
}
.product_img img{
  margin: auto  ;
  width: 180px;
  box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
  
}
.title{

  background: -webkit-linear-gradient(left, rgb(129, 105, 59) , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, rgb(64, 146, 26), yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, rgb(109, 94, 67) , rgb(133, 133, 70), green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px outset;
  width: fit-content
}
.p-grid{
  display: inline-flex;
}
.mt-20{
  background-color: #fff;border: none;
}
:host ::ng-deep .p-cart {
  background-color: antiquewhite;
  border: none;
  color:chartreuse
} 
:host ::ng-deep .p-cart:hover{
  background-color: aquamarine;
}
.cart_icon{
 position: relative;

}
.cart_icon i {
  font-size:3em; font-weight: 900;
}
.cart_number{
  width: 20px;
  background: darksalmon;
  right: -30%;
  position: absolute;
  margin-right: 0.5rem;
  top: -10%;
  border-radius: 50%;
}
