<div class="login-wrap">

	<div class="login-html">

<h2 style="color: aliceblue;">Sign Up</h2>
    <div class="login-form">
<form 
[formGroup]="formsRegister"
(ngSubmit)="register(formsRegister.value)"
>
    <div class="group">
      <label for="user" class="label">USERNAME</label>
      <input id="user" type="text" pInputText class="input p-col-12" required formControlName="username">
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors?.required" class="validate">
          Name is required.
        </div>
        <div *ngIf="username.errors?.minlength" class="validate">
          Name must be at least 6 characters long.
        </div>
      </div>
    </div>
    <div class="group">
      <label for="user" class="label">PASSWORD</label>
      <input id="user" type="password" pInputText class="input p-col-12" required formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.required" class="validate">
          Password is required.
        </div>
        <div *ngIf="password.errors?.minlength" class="validate">
          Password must be at least 6 characters long.
        </div>
      </div>
    </div>
    <div class="group">
      <label for="user" class="label">EMAIL</label>
      <input id="user" type="text" pInputText class="input p-col-12" required formControlName="email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.required" class="validate">
          Email is required.
        </div>
      </div>
    </div>
    <div class="group">
      <label for="user" class="label">PHONE</label>
      <input id="user" type="text" pInputText class="input p-col-12" required formControlName="phone">
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
        <div *ngIf="phone.errors?.required" class="validate">
          Phone is required.
        </div>
      </div>
    </div>
    <div class="group">
      <label for="user" class="label">AGE</label>
      <input id="user" type="text" pInputText class="input p-col-12" required formControlName="age">
      <div *ngIf="age.invalid && (age.dirty || age.touched)">
        <div *ngIf="age.errors?.required" class="validate">
          Age is required.
        </div>
      </div>
    </div>
    <div class="group">
      <label for="user" class="label">ADDRESS</label>
      <input id="user" type="text" pInputText class="input p-col-12" required formControlName="address">
      <div *ngIf="address.invalid && (address.dirty || address.touched)">
        <div *ngIf="address.errors?.required" class="validate">
          Address is required.
        </div>
      </div>
    </div>
    <div class="group">
      <button class="button" type="submit" [disabled]="!formsRegister.valid">SIGN UP</button>
      <div routerLink="/login" style="margin-top: 30px;color: #fff;cursor: pointer;">
        <i class="pi pi-arrow-left"></i><span style="margin-left: 10px;">Back</span>
      </div>

    </div>
</form>
    </div>
  </div>
</div>
<p-toast position="top-right" key="c"  [baseZIndex]="3000"></p-toast> 
