<div class="p-grid">
  <div class="p-col-3" *ngFor="let item of datauser">
    <h1 style="text-align: center;">Personal Page</h1>
    <div class="user_img" *ngIf="hide">
      <img src="assets/user/{{item.image}}" height="100px" alt="">
    </div>
    <div class="user_img" *ngIf="!hide">
      <img src={{url}} height="100px" alt="">
    </div>
    <div class="user_name">
      <h3>{{item.username}}</h3>
    </div>
    <div class="user_avt">
      <label for="">Change Avatar</label>
      <input type="file" accept="image/*" (change)="processFile($event)">
    </div>

    <div class="user_manu">
      <p-panelMenu [model]="items" [style]="{'width':'300px'}" (click)="menu($event)"></p-panelMenu>
    </div>
    <p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
  </div>
  <div class="p-col-9">
    <router-outlet></router-outlet>
  </div>
</div>
<p-toast position="top-right" key="c" [baseZIndex]="3000"></p-toast>